USE [master]
GO
/****** Object:  Database [HealthLite]    Script Date: 1/31/2016 2:08:12 PM ******/
CREATE DATABASE [HealthLite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HealthLite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HealthLite.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HealthLite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\HealthLite_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HealthLite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HealthLite]
GO
/****** Object:  Table [dbo].[Pessoa]    Script Date: 1/31/2016 2:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pessoa](
	[PessoaId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](80) NOT NULL,
	[Senha] [varchar](32) NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Nascimento] [date] NOT NULL,
	[Telefone] [varchar](19) NULL,
	[Peso] [smallint] NOT NULL,
	[Altura] [smallint] NOT NULL,
	[Sexo] [bit] NOT NULL,
	[ApiToken] [varchar](36) NOT NULL,
	[Imagem] [varbinary](max) NULL,
	[Alergia] [varchar](100) NULL,
	[Intolerancia] [varchar](100) NULL,
	[Doencas] [varchar](max) NULL,
 CONSTRAINT [PK_Pessoa] PRIMARY KEY CLUSTERED 
(
	[PessoaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Remedio]    Script Date: 1/31/2016 2:08:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Remedio](
	[RemedioId] [int] IDENTITY(1,1) NOT NULL,
	[PessoaId] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[IntervaloHoras] [tinyint] NOT NULL,
	[DataUltimaDoseAdministrada] [datetime] NULL,
 CONSTRAINT [PK_Remedio] PRIMARY KEY CLUSTERED 
(
	[RemedioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Remedio]  WITH CHECK ADD  CONSTRAINT [FK_Remedio_Pessoa] FOREIGN KEY([PessoaId])
REFERENCES [dbo].[Pessoa] ([PessoaId])
GO
ALTER TABLE [dbo].[Remedio] CHECK CONSTRAINT [FK_Remedio_Pessoa]
GO
USE [master]
GO
